
*.exe
*.chromedriver
*.ipynb
/.venv/
/venv/
/.env
# Ignore tous les .json sauf ceux nécessaires
*.json
!docker_spark/corsignal1.json
!docker_spark/mcd_final.json
__pycache__
*.csv
.pytest_cache
.ruff_cache
*.log
*.txt
*pyc
*.env

*.lock
~$one_shot_enriched.xlsx
~$one_shot_enriched_gemini.xlsx
~$one_shot_enriched_gemini2.xlsx
debug_response.txt
