
*.exe
*.chromedriver
*.ipynb
/.venv/
/venv/
/.env
skill_db_relax_20.json
!token_dist.json
!docker_spark/corsignal1.json
!docker_spark/mcd_final.json
__pycache__
*.csv
.pytest_cache
.ruff_cache
*.log
*pyc
*.env

*.lock
~$one_shot_enriched.xlsx
~$one_shot_enriched_gemini.xlsx
~$one_shot_enriched_gemini2.xlsx
debug_response.txt
ai_models
